body{

    text: white;
    margin: 0;
    text-align: center;
    background: #FF4747;
    

    }
html {font-size: 1em;
}
.nostyle{
  color: white;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    max-width: 520px;
    min-width: 350px;
}

.nav ul {
   list-style: none;
   text-align: left;
   padding: 0;
   overflow: auto;
   margin-left: 10px;
}
.nav li {
   font-family: 'Oswald', sans-serif;
   font-size: 1.4em;
   line-height: 150%;
   margin-top: 5px;
   margin-bottom: 5px;
   height: 300%;
    list-style: none;
    float: left;
}
  
.nav a {
   text-decoration: none;
   color: white;
   display: block;
   font-family: "HelveticaNeue";
   transition: .3s background-color;
}
.nav {
     background-color: #FF5959;
}    

.facebook {
     border-color: #2d5073;
     background-color: #3b5998;
     color: white;chive.com/icons/danleech/simple/512/facebook-icon.png);
 }
.twitter{
    border-color: #007aa6;
    background-color: #008cbf;
    color: white;
}

.fixedwidth{
    width: 300px;
    text-align: center;
}

.autocompletedialog{
    width: 250px;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
}

.autocompletedialog ul li{
    list-style: none;
    display: block;
}

.autocompletedialog ul li:hover{
    background-color: #888888;
}

.autocompletedialog ul li:hover a{
    color: white;
}